/* Оформление контейнера с изображением */
.image-container {
    perspective: 1000px;
    /* Перспектива для 3D эффекта */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Оформление самого изображения */
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s;
    /* Плавный переход */
    transform-style: preserve-3d;
    /* Для 3D эффекта */
}