 /* Убираем внутренние отступы для списков с классами */
 :where(ul, ol):where([class]) {
     padding-left: 0;
 }

 /* Убираем внешние отступы для body и элементов с классами */
 body,
 :where(blockquote, figure):where([class]) {
     margin: 0;
 }

 /* Обнуляем отступы для dd и fieldset с классами */
 :where(dd[class]),
 :where(fieldset[class]) {
     margin-left: 0;
     padding: 0;
     border: none;
 }

 /* Убираем стандартный маркер для маркированного списка с классом */
 :where(ul[class]) {
     list-style: none;
 }

 /* Удаляем стили для address с классом */
 :where(address[class]) {
     font-style: normal;
 }

 /* Обнуляем внешние отступы для параграфа и задаем локальную переменную */
 p {
     --paragraphMarginBottom: 24px;
     margin-block: 0;
 }

 /* Внешний отступ вниз для параграфа без класса, не последнего среди соседей */
 p:where(:not([class]):not(:last-child)) {
     margin-bottom: var(--paragraphMarginBottom);
 }

 /* Упрощаем работу с изображениями */
 img {
     display: block;
     max-width: 100%;
 }

 /* Наследуем свойства шрифта для полей ввода */
 input,
 textarea,
 select,
 button {
     font: inherit;
 }

 /* Основные стили для html и body */
 html {
     height: 100%;
     /* Для фиксированной высоты */
 }

 body {
     min-height: 100%;
     /* Для фиксированной высоты */
     line-height: 1.5;
     /* Унифицированный интерлиньяж */
 }

 /* Плавный скролл */
 html,
 :has(:target) {
     scroll-behavior: smooth;
 }

 /* Приведение цвета svg-элементов к единому */
 svg *[fill],
 svg *[stroke] {
     fill: currentColor;
     stroke: currentColor;
 }

 /* Переходы для svg-элементов */
 svg * {
     transition-property: fill, stroke;
 }

 /* Базовые стили */
 * {
     box-sizing: border-box;
 }

 body {
     font-family: 'Roboto', sans-serif;
     background-color: #f0f8f5;
     color: #333;
     line-height: 1.6;
     margin: 0;
 }

 /* Навигация */
 .navigate {
     margin: 15px 0;
     padding: 10px;
     background-color: #4a7b61;
     border-radius: 5px;
 }

 .navigate__list {
     display: flex;
     justify-content: space-evenly;
     gap: 15px;
     list-style: none;
     padding: 0;
 }

 .navigate__item a {
     padding: 10px 30px;
     background-color: white;
     border: 1px solid #2f6f4e;
     color: #2f6f4e;
     border-radius: 35px;
     text-decoration: none;
     font-weight: 500;
     transition: 0.5s;
 }

 .navigate__item a:hover {
     background-color: #2f6f4e;
     color: white;
     border: 1px solid white;
 }

 /* Секция основного контента */
 .section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

 .section__block {
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    /*border-radius: 5px;*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

 /* Адаптивное видео */
 .video-container {
     position: relative;
     width: 100%;
     padding-bottom: 56.25%;
     /* Соотношение сторон 16:9 */
     height: 0;
     overflow: hidden;
 }

 .video-container iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: none;
 }

 /* Мобильные стили */
 @media (max-width: 800px) {
     .header {
         flex-direction: column;
     }

     .navigate {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .navigate__list {
         flex-direction: column;
         gap: 20px;
     }

     .section {
         display: flex;
         flex-direction: column;
     }

     .scroll-to-top {
         display: block;
     }

     .section__block-nav {
         text-align: center;
     }
 }

 @media (max-width: 768px) {
     .header {
         text-align: center;
     }
 }